<!--========================================================== -->
<!--MODAL DETALLE CATEGORÍAS-->
<!--========================================================== -->
<div class="modal fade" id="detalleCategoria" tabindex="-1" aria-labelledby="detalleCategoriaLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content modal-detalle">

            <div class="container mt-5 formDetalle">
                <h2>Detalle Categoría</h2>
                <hr>
                <table id="detalleCategoria" class="table table-striped">
                    <tr>
                        <th>ID:</th>
                        <td id="detalleCategoriaId"></td>
                    </tr>
                    <tr>
                        <th>Nombre:</th>
                        <td id="detalleCategoriaNombre"></td>
                    </tr>
                    <tr>
                        <th>Descripción:</th>
                        <td id="detalleCategoriaDescripcion"></td>
                    </tr>
                    <tr>
                        <th>Presentación:</th>
                        <td id="detalleCategoriaPresentacion"></td>
                    </tr>
                    <tr>
                        <th>Fecha de Creación:</th>
                        <td id="detalleCategoriaFechaCreacion"></td>
                    </tr>
                    <tr>
                        <th>Última Modificación:</th>
                        <td id="detalleCategoriaFechaModificacion"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<!----------------------------SCRIPTS----------------------------->

<script src="/js/admin/categorias/detalleCategorias.js"></script>