<!--========================================================== -->
<!--MODAL CAMBIAR CONTRASENA-->
<!--========================================================== -->
<div class="modal fade" id="cambiarContraseña" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="container mt-3 p-4">
                <form>
                    <h1>Cambio contrasena</h1>
                    <div class="mb-3">
                        <label for="contrasenaActual" class="form-label">Ingresa tu contraseña actual:</label>
                        <input class="form-control" type="password" name="contrasenaActual" id="contrasenaActual" required>
                    </div>
                    <div class="mb-3">
                        <label for="nuevaContrasena" class="form-label">Ingresa tu nueva contraseña:</label>
                        <input class="form-control" type="password" name="nuevaContrasena" id="nuevaContrasena" required>
                    </div>
                    <div class="d-flex justify-content-between" style="margin-bottom: 10px;">
                        <button type="submit" class="btn btn-success">Cambiar contrasena<i class="fa-solid fa-check"
                                style="margin-left: 10px;"></i></button>
                        <button type="button" class="btn btn-danger" id="cerrarModal">Cancelar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>