<div class="modal fade" id="saberMas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="contenedorModal">
                <div class="modal-header">
                    <h5 class="modal-title" id="infoModalLabel">Información Adicional sobre InfiniteCode</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4>Nuestra Misión</h4>
                    <p>Proporcionar soluciones de gestión de inventarios que optimicen los procesos de nuestros
                        clientes,
                        mejorando la eficiencia y reduciendo costos.</p>

                    <h4>Características Clave</h4>
                    <ul>
                        <li>Gestión de inventarios en tiempo real.</li>
                        <li>Informes detallados y análisis de datos.</li>
                        <li>Integraciones con otras plataformas de negocio.</li>
                        <li>Soporte al cliente 24/7.</li>
                    </ul>

                    <h4>Beneficios para Nuestros Clientes</h4>
                    <p>Con nuestras soluciones, nuestros clientes pueden esperar:</p>
                    <ul>
                        <li>Mayor precisión en el seguimiento de inventarios.</li>
                        <li>Reducción de pérdidas y desperdicios.</li>
                        <li>Mejor toma de decisiones basadas en datos.</li>
                        <li>Un aumento en la satisfacción del cliente.</li>
                    </ul>

                    <h4>Contáctanos</h4>
                    <p>Para más información, no dudes en <a href="mailto:info@infinitecode.com">enviarnos un correo</a>
                        o
                        llamarnos al 3113413946.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</div>