<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <!--PANEL DE GESTION-->
                <div class="sb-sidenav-menu-heading">Menu</div>
                <a class="nav-link" href="/v1/panelGestion">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Panel de gestión
                </a>

                <!--USUARIOS-->
                <a class="nav-link" href="/v1/usuarios">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-users-line"></i></div>
                    Usuarios
                </a>

                <div class="sb-sidenav-menu-heading">Interfaces</div>

                <!--PROVEEDORES-->
                <a class="nav-link" href="/v1/proveedores/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-truck-field"></i></div>
                    Proveedores
                </a>

                <!--PRODUCTOS-->
                <a class="nav-link" href="/v1/productos/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-boxes-stacked"></i></div>
                    Productos
                </a>

                <!--INVENTARIO-->
                <a class="nav-link" href="/v1/inventario/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-truck-ramp-box"></i></div>
                    Inventario
                </a>

                <!--CATEGORIAS-->
                <a class="nav-link" href="/v1/categorias/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-thumbtack"></i></div>
                    Categorias
                </a>
                
                <!--ALMACENES-->
                <a class="nav-link" href="/v1/almacenes/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-warehouse"></i></div>
                    Almacenes
                </a>

                <!--CLIENTES-->
                <a class="nav-link" href="/v1/clientes/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                    Clientes
                </a>

                <!--PEDIDOS-->
                <a class="nav-link" href="/v1/pedidos/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-boxes-packing"></i></div>
                    Pedidos
                </a>

                <!--DEVOLUCIONES-->
                <a class="nav-link" href="#">
                    <div class="sb-nav-link-icon"><i class="fa-brands fa-stack-overflow"></i></div>
                    Devoluciones
                </a>

                <!--AUDITORIA-->
                <a class="nav-link collapsed" href="/v1/auditoria">
                    <div class="sb-nav-link-icon"><i class="fa-brands fa-audible"></i></div>
                    Auditoria
                </a>

                <!--GRAFICOS-->
                <div class="sb-sidenav-menu-heading">Completentos</div>
                <a class="nav-link" href="/v1/graficos">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-chart-column"></i></div>
                    Gráficos
                </a>
            </div>
        </div>
    </nav>
</div>