<!--========================================================== -->
<!--MODAL DETALLE INVENTARIO-->
<!--========================================================== -->

<div class="modal fade" id="detalleInventario" tabindex="-1" aria-labelledby="detalleInventarioLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-detalle">

            <div class="container mt-5 formDetalle">
                <h2>Detalle Inventario</h2>
                <hr>
                <table id="detalleInventarioTable" class="table table-striped" enctype="multipart/form-data">
                    <tr>
                        <th>ID:</th>
                        <td id="detalleInventarioId"></td>
                    </tr>
                    <tr>
                        <th>Producto:</th>
                        <td id="detalleInventarioProducto"></td>
                    </tr>
                    <tr>
                        <th>Ubicación:</th>
                        <td id="detalleInventarioUbicacion"></td>
                    </tr>
                    <tr>
                        <th>Cantidad:</th>
                        <td id="detalleInventarioCantidad"></td>
                    </tr>
                    <tr>
                        <th>Fecha de creación:</th>
                        <td id="detalleInventarioCreacion"></td>
                    </tr>
                    <tr>
                        <th>Última fecha de modificación:</th>
                        <td id="detalleInventarioModificacion"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!----------------------------SCRIPTS----------------------------->

<script src="/js/admin/inventario/detalleInventario.js"></script>
