<!--========================================================== -->
<!--MODAL DETALLE PRODUCTOS-->
<!--========================================================== -->

<div class="modal fade" id="detalleProducto" tabindex="-1" aria-labelledby="detalleProductoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-detalle">

            <div class="container mt-5 formDetalle">
                <h2>Detalle Producto</h2>
                <hr>
                <table id="detalleProductoTable" class="table table-striped" enctype="multipart/form-data">
                    <tr>
                        <th>Id:</th>
                        <td id="detalleProductoId"></td>
                    </tr>
                    <tr>
                        <th>Nombre:</th>
                        <td id="detalleProductoNombre"></td>
                    </tr>
                    <tr>
                        <th>Precio:</th>
                        <td id="detalleProductoPrecio"></td>
                    </tr>
                    <tr>
                        <th>Cantidad:</th>
                        <td id="detalleProductoCantidad"></td>
                    </tr>
                    <tr>
                        <th>Fecha de Vencimiento:</th>
                        <td id="detalleProductoFechaVencimiento"></td>
                    </tr>
                    <tr>
                        <th>Categoría:</th>
                        <td id="detalleProductoCategoria"></td>
                    </tr>
                    <tr>
                        <th>Proveedor:</th>
                        <td id="detalleProductoProveedor"></td>
                    </tr>
                    <tr>
                        <th>Estado:</th>
                        <td id="detalleProductoEstado"></td>
                    </tr>
                    <tr>
                        <th>Foto:</th>
                        <td>
                            <img id="detalleProductoFoto" alt="Producto" style="width: 100px; height: auto;">
                        </td>
                    </tr>
                    <tr>
                        <th>Fecha de Creación:</th>
                        <td id="detalleProductoCreacion"></td>
                    </tr>
                    <tr>
                        <th>Última Fecha de Modificación:</th>
                        <td id="detalleProductoModificacion"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!----------------------------SCRIPTS----------------------------->
<script src="/js/admin/productos/detalleProducto.js"></script>
