<!--========================================================== -->
<!--MODAL DETALLE PROVEEDORES-->
<!--========================================================== -->

<div class="modal fade" id="detalleProveedor" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content modal-detalle">

            <div class="container mt-5 formDetalle">
                <h2>Detalle Proveedor</h2>
                <hr>
                <table id="detalleProveedor" class="table table-striped">
                    <tr>
                        <th>ID:</th>
                        <td id="detalleProveedorId"></td>
                    </tr>
                    <tr>
                        <th>Nombre:</th>
                        <td id="detalleProveedorNombre"></td>
                    </tr>
                    <tr>
                        <th>Documento:</th>
                        <td id="detalleProveedorDocumento"></td>
                    </tr>
                    <tr>
                        <th>Telefono:</th>
                        <td id="detalleProveedorTelefono"></td>
                    </tr>
                    <tr>
                        <th>Correo:</th>
                        <td id="detalleProveedorCorreo"></td>
                    </tr>
                    <tr>
                        <th>Direccion:</th>
                        <td id="detalleProveedorDireccion"></td>
                    </tr>
                    <tr>
                        <th>Ciudad:</th>
                        <td id="detalleProveedorCiudad"></td>
                    </tr>
                    <tr>
                        <th>Departamento:</th>
                        <td id="detalleProveedorDepartamento"></td>
                    </tr>
                    <tr>
                        <th>Tipo de empresa:</th>
                        <td id="detalleProveedorTipoEmpresa"></td>
                    </tr>
                    <tr>
                        <th>Metodo de pago:</th>
                        <td id="detalleProveedorMetodoPago"></td>
                    </tr>
                    <tr>
                        <th>Fecha de creacion:</th>
                        <td id="detalleProveedorFechaCreacion"></td>
                    </tr>
                    <tr>
                        <th>Ultima fecha de modificacion:</th>
                        <td id="detalleProveedorFechaModificacion"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!----------------------------SCRIPTS----------------------------->

<script src="/js/admin/proveedores/detalleProveedor.js"></script>


