<!--========================================================== -->
<!--MODAL PERFIL USUARIO-->
<!--========================================================== -->
<div class="modal fade" id="perfilUsuarios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content perfilUsuario">

            <div>
                <h5 class="card-title">Información del Usuario</h5> 
                <form>
                    <img src="/img/default/user.png" id="fotoUsuarioPerfil" name alt="usuario" style="width: 150px;margin: 20px;">
                    <br>
                    <div class="mb-3">
                        <label for="nombreUsuarioPerfil" class="form-label">Nombre:</label>
                        <input class="form-control" type="text" id="nombreUsuarioPerfil" name="nombreUsuarioPerfil" required>
                    </div>
                    <div class="mb-3">
                        <label for="correoUsuarioPerfil" class="form-label">Correo electronico:</label>
                        <input class="form-control" type="text" id="correoUsuarioPerfil" name="correoUsuarioPerfil" required>
                    </div>
                    <div class="mb-3">
                        <label for="rolUsuarioPerfil" class="form-label">Rol</label>
                        <select class="form-select" id="rolUsuarioPerfil" name="rolUsuarioPerfil" required>
                            <option value="admin">Admin</option>
                            <option value="user">User</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-between" style="margin-bottom: 10px;">
                        <button type="submit" class="btn btn-success">Actualizar<i class="fa-solid fa-check" style="margin-left: 10px;"></i></button>
                        <button type="button" class="btn btn-danger" id="cerrarModalPerfil">Cerrar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>