<!--========================================================== -->
<!--MODALE RECUPERAR CONTRASENA-->
<!--========================================================== -->
<div class="modal fade" id="recuperarContraseña" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container-form">
                <div class="information">
                    <div class="info-childs">
                        <img src="/img/logo/logo-1.png" alt="logo">
                        <h2>¡Recupera tu contraseña!</h2>
                        <p>Ingresa tu correo electrónico para recibir un enlace de recuperación.</p>
                    </div>
                </div>
                <div class="form-information">
                    <div class="form-information-childs">
                        <h2>Recuperación de Contraseña</h2>
                        <form class="form" id="recoverForm">
                            <br>
                            <div>
                                <label for="correo">
                                    <i class="fa-solid fa-envelope"></i>
                                    <input type="email" id="correoRecuperarContraseña" name="correoRecuperarContraseña" placeholder="Introduce tu correo" required>
                                </label>
                            </div>
                            <br>
                            <div class="btn-Login">
                                <button type="submit" class="btn btn-primary">Enviar enlace de recuperación</button>
                                <br>
                                <a class="btn btn-primary" id="go-back-login">Volver al inicio de sesión</a>
                                <br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
