<!--========================================================== -->
<!--MODAL LOGIN-->
<!--========================================================== -->

<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container-form">
                <div class="information">
                    <div class="info-childs">
                        <img src="/img/logo/logo-1.png" alt="logo">
                        <h2>¡Crea tu cuenta gratis!</h2>
                        <p>¡InfiniteCode es gratis por 15 días!</p>
                        <a id="sign-up" type="button">Registrate</a>
                    </div>
                </div>
                <div class="form-information">
                    <div class="form-information-childs">
                        <h2>Inicia Sesión</h2>
                        <div class="icons">
                            <a href="#">
                                <i class="fa-brands fa-google"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-github-alt"></i>
                            </a>
                        </div>
                        <p>O iniciar sesión con una cuenta</p>
                        <form class="form" id="loginForm">
                            <br>
                            <div>
                                <label>
                                    <i class="fa-solid fa-user"></i>
                                    <input type="text" placeholder="Correo electronico" name="correoLogin" id="correoLogin" autocomplete="off" required>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <i class="fa-solid fa-lock"></i>
                                    <input type="password" placeholder="Contraseña" name="contraseñaLogin" id="contraseñaLogin" autocomplete="off" required>
                                </label>
                            </div>
                            <br>
                            <div class="btn-Login">
                                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                                <br>
                                <a class="btn btn-primary" id="recover-password">Recuperar contraseña</a>
                                <br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
