<!--========================================================== -->
<!--MODALE REGISTER-->
<!--========================================================== -->

<div class="modal fade" id="register" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container-form">
                <div class="information">
                    <div class="info-childs">
                        <img src="/img/logo/logo-1.png" alt="logo">
                        <h2>Bienvenido</h2>
                        <p>Para unirte a nuestra comunidad por favor Inicia Sesión con tus datos</p>
                        <a id="sign-in" type="button">Iniciar Sesión</a>
                    </div>
                </div>
                <div class="form-information">
                    <div class="form-information-childs">
                        <h2>Crear una Cuenta</h2>
                        <div class="icons">
                            <a href="#">
                                <i class="fa-brands fa-google"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-github-alt"></i>
                            </a>
                        </div>
                        <p>O usa tu email para registrarte</p>
                        <form class="form"  id="registroForm">
                            <div>
                                <label>
                                    <i class="fa-solid fa-user"></i>
                                    <input type="text" placeholder="Nombre completo" id="nombreCompleto" name="nombreCompleto" autocomplete="off" required>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <i class="fa-regular fa-envelope"></i>
                                    <input type="email" placeholder="Correo Electrónico" id="correo" name="correo" autocomplete="off" required>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <i class="fa-solid fa-lock"></i>
                                    <input type="password" placeholder="Contraseña" id="contraseña" name="contraseña" autocomplete="off" required>
                                </label>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Registrarse</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>