<header class="header">
    <a href="/">
        <img src="/img/logo/logo-1.png" alt="Logotipo de la empresa">
    </a>

    <button class="button" aria-label="Abrir menú de navegación">
        <i class="fa-solid fa-bars"></i>
    </button>

    <nav class="nav activo" aria-label="Menú principal">
        <ul>
            <li><a href="#sobre-nosotros">Sobre nosotros</a></li>
            <li><a href="#paquetes">Paquetes</a></li>
            <li><a href="#proyectos">Proyectos</a></li>
            <li><a href="#testimonios">Testimonios</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>

    <div class="btn-header activo">
        <a class="registrar" data-bs-toggle="modal" data-bs-target="#register" aria-label="Abrir modal de registro">
            Regístrate
        </a>
        <button type="button" class="btn iniciar-sesion" data-bs-toggle="modal" data-bs-target="#login"
            aria-label="Abrir modal de inicio de sesión">
            <i class="fa-solid fa-user"></i>
        </button>
    </div>


</header>