<!--========================================================== -->
<!--MODAL DETALLE ALMACEN-->
<!--========================================================== -->

<div class="modal fade" id="detalleAlmacen" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content modal-detalle">

            <div class="container mt-5 formDetalle">
                <h2>Detalle Almacén</h2>
                <hr>
                <table id="detalleAlmacenTabla" class="table table-striped">
                    <tr>
                        <th>ID:</th>
                        <td id="detalleAlmacenId"></td>
                    </tr>
                    <tr>
                        <th>Código:</th>
                        <td id="detalleAlmacenCodigo"></td>
                    </tr>
                    <tr>
                        <th>Pasillo:</th>
                        <td id="detalleAlmacenPasillo"></td>
                    </tr>
                    <tr>
                        <th>Sección:</th>
                        <td id="detalleAlmacenSeccion"></td>
                    </tr>
                    <tr>
                        <th>Estante:</th>
                        <td id="detalleAlmacenEstante"></td>
                    </tr>
                    <tr>
                        <th>Nivel:</th>
                        <td id="detalleAlmacenNivel"></td>
                    </tr>
                    <tr>
                        <th>Capacidad:</th>
                        <td id="detalleAlmacenCapacidad"></td>
                    </tr>
                    <tr>
                        <th>Ocupación Actual:</th>
                        <td id="detalleAlmacenOcupacion"></td>
                    </tr>
                    <tr>
                        <th>Producto Almacenado:</th>
                        <td id="detalleAlmacenProducto"></td>
                    </tr>
                    <tr>
                        <th>Fecha de Creación:</th>
                        <td id="detalleAlmacenFechaCreacion"></td>
                    </tr>
                    <tr>
                        <th>Última Modificación:</th>
                        <td id="detalleAlmacenFechaModificacion"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!----------------------------SCRIPTS----------------------------->

<script src="/js/admin/almacenes/detalleAlmacenes.js"></script>
