<!--========================================================== -->
<!--MODAL DETALLE CLIENTE-->
<!--========================================================== -->

<div class="modal fade" id="detalleCliente" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content modal-detalle">

            <div class="container mt-5 formDetalle">
                <h2>Detalle Cliente</h2>
                <hr>
                <table id="detalleClienteTabla" class="table table-striped">
                    <tr>
                        <th>Nombre Completo:</th>
                        <td id="detalleClienteNombre"></td>
                    </tr>
                    <tr>
                        <th>Documento:</th>
                        <td id="detalleClienteDocumento"></td>
                    </tr>
                    <tr>
                        <th>Teléfono:</th>
                        <td id="detalleClienteTelefono"></td>
                    </tr>
                    <tr>
                        <th>Correo:</th>
                        <td id="detalleClienteCorreo"></td>
                    </tr>
                    <tr>
                        <th>Dirección:</th>
                        <td id="detalleClienteDireccion"></td>
                    </tr>
                    <tr>
                        <th>Fecha de Creación:</th>
                        <td id="detalleClienteFechaCreacion"></td>
                    </tr>
                    <tr>
                        <th>Última Modificación:</th>
                        <td id="detalleClienteFechaModificacion"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!----------------------------SCRIPTS----------------------------->

<script src="/js/admin/clientes/detalleCliente.js"></script>
