<!--========================================================== -->
<!--MODAL ELIMINAR CLIENTE-->
<!--========================================================== -->

<div class="modal fade" id="eliminarCliente" tabindex="-1" aria-labelledby="eliminarClienteLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="container p-4 text-center">
                <h2>Eliminar Cliente</h2>
                <form id="formEliminarCliente" method="POST">
                    <input type="hidden" id="clienteId" name="clienteId">
                    <p>¿Estás seguro de que deseas eliminar este cliente? Esta acción es irreversible y no se puede deshacer.</p>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!----------------------------SCRIPTS----------------------------->

<script src="/js/admin/clientes/eliminarCliente.js"></script>
