<div class="modal fade" id="correoElectronico" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="formularioCorreo">

                <form >
                    <h2>Enviar su formulario</h2>

                    <label for="name">Nombre</label>
                    <input type="text" name="name">

                    <label for="email">Correo electrónico</label>
                    <input type="email" name="email">

                    <label for="subject">Asunto</label>
                    <input type="text" name="subject">

                    <label for="coments">Mensaje</label>
                    <textarea name="message" cols="30" rows="5"></textarea>

                    <input class="btn" type="submit" value="Enviar">

                </form>

                <div class="imgCorreo">
                    <img src="/img/logo/logo-1.png" alt="logo">
                </div>

            </div>
        </div>
    </div>
    
</div>