<div class="modal fade" id="termsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="contenedorModal">
                <div class="modal-header">
                    <h5 class="modal-title" id="termsModalLabel">Términos y Condiciones</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Al registrarte en nuestro sitio, aceptas los siguientes términos y condiciones:</p>
                    <ul>
                        <li>No se permite el uso indebido de nuestros servicios.</li>
                        <li>Debes respetar las leyes locales y las normativas vigentes.</li>
                        <li>No compartiremos tus datos personales con terceros sin tu consentimiento.</li>
                        <li>Nos reservamos el derecho de actualizar estos términos en cualquier momento.</li>
                        <li>Al utilizar nuestros servicios, aceptas nuestras políticas de privacidad.</li>
                    </ul>
                    <p>Por favor, revisa detenidamente nuestros términos y asegúrate de entenderlos completamente antes de aceptar.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="acceptTerms">Acepto</button>
                </div>
            </div>
        </div>
    </div>
</div>